*{
    margin: 0px;
}
.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_search{
    width: 70%;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    width: 100%;
    border: none;
    height: 12px;
    padding: 10px;
}
.header_searchIcon{
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}